{{!--
This header template is shared across all the pages.
--}}

{{#if background}}
  <header class="m-header with-picture js-header">
{{else}}
  <header class="m-header js-header">
{{/if}}
  <div class="m-mobile-topbar" data-aos="fade-down">
    <button class="m-icon-button in-mobile-topbar js-open-menu" aria-label="Open menu">
      <span class="icon-menu"></span>
    </button>
    {{#if @site.logo}}
      <a href="http://www.sigmastocks.com/sv" class="m-logo in-mobile-topbar">
        <img src="{{@site.logo}}" alt="{{@site.title}}">
      </a>
    {{else}}
      <a href="http://www.sigmastocks.com/sv" class="m-site-name in-mobile-topbar">
        {{@site.title}}
      </a>
    {{/if}}
  </div>

  <div class="m-menu js-menu">
    <button class="m-icon-button outlined as-close-menu js-close-menu" aria-label="Close menu">
      <span class="icon-close"></span>
    </button>
    <div class="m-menu__main" data-aos="fade-down">
      <div class="l-wrapper">
        <div class="m-nav">
          <nav class="m-nav__left">
            {{#if @site.navigation}}
              {{navigation}}
            {{/if}}
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
