{{!--
This navigation template is shared across all the pages.
Also it includes the big submenu.
--}}

<ul role="menu">
  {{#if @site.logo}}
  <li class="only-desktop" role="menuitem">
    <a href="http://www.sigmastocks.com/sv" class="m-logo">
      <img src="{{@site.logo}}" alt="{{@site.title}}">
    </a>
  </li>
  {{else}}
  <li class="only-desktop" role="menuitem">
    <a href="http://www.sigmastocks.com/sv" class="m-site-name in-desktop-menu">
      {{@site.title}}
    </a>
  </li>
  {{/if}}
  {{#foreach navigation}}
    <li class="nav-{{slug}}{{#if current}} nav-current{{/if}}">
      <a href="{{url absolute="true"}}">{{label}}</a>
    </li>
  {{/foreach}}
</ul>
